<?xml version="1.0" encoding="UTF-8"?>
<problem xmlns="urn:ietf:rfc:XXXX">
  <% if type %>
    <type><%%= type %></type>
  <% end %>
  <% if status  %>
    <statu><%= status %></status>
  <% end %>
  <% if title  %>
    <title><%= title %></title>
  <% end %>
  <% if detail  %>
    <detail><%= detail %></detail>
  <% end %>
  <% if instance  %>
    <instance><%= instance %></instance>
  <% end %>
</problem>
